* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    width: 100%;
    height: 760px;
}

.navbar {
    width: 100%;
    height: 160px;
    background-color: rgb(62, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-left ul {
    display: flex;
    gap: 50px;
    margin-right: 140px;
}

.nav-right ul {
    display: flex;
    gap: 25px;
    margin-bottom: 100px;
    margin-right: 70px;
}

.left li {
    font-size: 16px;
    color: white;
    margin-top: 30px;
    align-items: center;
}

.right li {
    font-size: 13px;
    color: white;
    font-weight: 700;
}

.nav-left i {
    margin-left: 3.8px;
    font-size: smaller;
}

.nav-right i {
    font-size: larger;
}

.logo {
    width: 200px;
    margin-left: 80px;
}

.video-content {
    position: relative;
    bottom: 400px;
    margin-left: 190px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.video {
    width: 100%;
    height: 100%;
}

video {
    height: 600px;
    width: 100%;
    object-fit: cover;
    font-weight: 600;
}

.video-content h5 {
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
}

.video-content h1 {
    color: white;
    font-size: 50px;
    padding-bottom: 20px;
}

.see {
    color: white;
    font-size: 15px;
    border-radius: 30px;
    padding: 20px 35px;
    background-color: rgb(17, 20, 107);
    border: none;
    display: block;
    font-weight: 900;
}

.section1 {
    width: 100%;
    height: 600px;
    background-color: #e5ac49;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    line-height: 1.3;
}

.section-left {
    width: 50%;
    height: 600px;
}

.section-right {
    width: 50%;
    height: 600px;
    margin-left: 40px;
}

.section1 img {
    position: relative;
    width: 600px;
    animation: start 5s infinite;
    margin-top: 160px;
    margin-left: 80px;
}

.section1 p {
    margin-top: 130px;
    color: white;
}

.section1 h1 {
    font-size: 60px;
    color: white;
}

.section1 button {
    width: 22%;
    height: 60px;
    color: white;
    font-size: 15px;
    border-radius: 30px;
    background-color: rgb(17, 20, 107);
    border: none;
    display: block;
    font-weight: 900;
}

.section2 {
    width: 100%;
    height: 760px;
}

.section2 h1 {
    font-size: 53px;
    text-align: center;
    color: rgb(70, 0, 0);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.departments {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(70, 0, 0);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.departments p {
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}

.section2 button {
    width: 70%;
    height: 60px;
    color: white;
    font-size: 15px;
    border-radius: 30px;
    background-color: rgb(17, 20, 107);
    border: none;
    display: block;
    font-weight: 900;
    margin-left: 45px;
}

.section3 {
    width: 100%;
    height: 690px;
    background-image: url(https://lhcdn.mars.com/cdn-cgi/image/width=1440,height=750,f=auto,quality=90/adaptivemedia/rendition/id_c38099efd7a9f0763feffe2dd3d6d3ff1baaf63e/name_c38099efd7a9f0763feffe2dd3d6d3ff1baaf63e.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-weight: 700;
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.500);
}

.section3 p {
    margin-right: 300px;
}

.section3 h1 {
    font-size: 60px;
    margin-right: 300px;
}

.section3 button {
    width: 10%;
    height: 60px;
    color: darkblue;
    font-size: 15px;
    border-radius: 30px;
    background-color: white;
    border: none;
    font-weight: 900;
    margin-right: 300px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.section4 {
    background-image: url(https://lhcdn.mars.com/cdn-cgi/image/width=1440,height=650,f=auto,quality=90/adaptivemedia/rendition/id_abb4b2f9448a7eaeb07bb6718db3c0f827448607/name_abb4b2f9448a7eaeb07bb6718db3c0f827448607.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 80vh;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.300);
}

.section4 button {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin-left: 650px;
    width: 10%;
    height: 60px;
    color: white;
    font-size: 15px;
    border-radius: 30px;
    background-color: darkblue;
    border: none;
    font-weight: 900;
}

.section4 p {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    margin-left: 700px;

}

.section4 h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: white;
    font-size: 50px;
    margin-left: 460px;
    line-height: 3;
}

.section4 h3 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: white;
    margin-left: 470px;
    font-size: 24px;
    line-height: 6;
}

.section5 {
    background-image: url(https://www.snickers.com/cdn-cgi/image/width=1440,height=580,f=auto,quality=90/sites/g/files/fnmzdf616/files/2023-06/SNK_Hi_Protein_Desktop_2880x1160.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 80vh;
}

.section6 {
    width: 100%;
    height: 160px;
    background-color: #e5ac49;
    display: flex;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal
}

.section6-left {
    width: 55%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: flex;
    gap: 50px;
    margin-right: 140px;
}

.section6-left ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section6-left li {
    display: flex;
    font-size: 18px;
    color: rgb(70, 0, 0);
    align-items: center;
}

.section7 {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main {
    width: 100%;
    height: 2vh;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal
}

.mySwiper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 55vh;
}

.section7 a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section7 h1 {
    padding-top: 1%;
    font-size: 3rem;
    text-align: center;
    color: #410c00;
}

footer {
    width: 100%;
    height: 480px;
    background-color: rgb(62, 0, 0);
}

.footer1 {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
}

.footer1 .left {
    width: 25%;
    height: 160px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.footer1 .left h1 {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-left: 50px;
    color: white;
    line-height: 2.5;
}

.footer1 .left2 {
    padding-left: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

.footer1 .right {
    width: 75%;
    height: 160px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    line-height: 2.9;
    padding-top: 40px;
}

.footer2 {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
}

.footer2 .left {
    width: 25%;
    height: 160px;
    font-size: 10px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-left: 90px;
    color: white;
}

.footer2 .left button {
    width: 280px;
    height: 55px;
    border-radius: 27px;
    border: none;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}

.footer2 .right {
    width: 75%;
    height: 160px;
    margin-left: 178px;
}

.footer2 .right h1 {
    font-size: 13px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.footer2 .right span {
    font-size: 12px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: white;
    line-height: 2;
    letter-spacing: 2px;
}

.footer-border {
    margin-left: 90px;
    width: 90%;
    height: 1px;
    background-color: rgb(143, 143, 143);
    border: none;
}

.footer3 {
    margin-left: 90px;
    width: 70%;
    height: 160px;
    display: flex;
    flex-direction: column;
}

.footer3 h1 {
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    color: white;
}

.footer3 button {
    width: 200px;
    height: 55px;
    border: 2px solid white;
    border-radius: 27px;
    background-color: rgb(62, 0, 0);
    color: white;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}

@keyframes start {
    0% {
        top: 40px;
    }

    50% {
        top: 0px;
    }

    100% {
        top: 40px;
    }
}